body {
    background-image: url('https://images.pexels.com/photos/6847584/pexels-photo-6847584.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover;
    color: darkblue

}
h1{
    color: maroon
    
}
h2{
    color: darkmagenta
}
h3{
    color: crimson
}



/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : Feb 16, 2024, 2:15:27 PM
    Author     : gviksne3
*/

